body {
  padding: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.box { 
  padding: 8px 0;
  font-size: 12px;
}

.result { 
  background-color: rgb(211, 211, 211);
  padding: 16px;
 
}

.right {
  margin: 16px;
}

.small {
  font-size: 10px;
  text-align: right;
}

.sessions{
  padding: 16px 0;
}

.session {
  padding: 2px 0;
}